/*
-------------------------- RESET + HOVER --------------------------
*/
@import url("normalize.css");
@import url("hover.css");
/*
---------------------------- WEBFONTS -----------------------------
*/
@import url("webfonts.css");
/*
------------------------------ MENU -------------------------------
*/
@import url("menu.css");
/*
---------------------- REDEFINICAO CSS GLOBAL ---------------------
*/
html {font-size: 62.5%;}
*{text-rendering: optimizeLegibility;}
::selection{background: #f18b00;color: #ffffff;}
::-moz-selection{background: #f18b00;color: #ffffff;}
body {
	background: #cdcdcd;
	color: #3f3e3e;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0 auto;
	max-width: 2000px;
	min-width: 280px;
	position: relative;
	z-index: 2;
}
/*
------------------- CSS OCULTAR MOBILE EM DESKTOP ------------------
*/
@media screen and (min-width: 768px){.mobile{display: none !important;visibility: hidden !important;}}
/*
------------------- ESTRUTURA SECOES + ELEMENTOS -------------------
*/
.oculto{
	display: none !important;
	visibility: hidden !important;
}
.banners.corpo,.titulos,.conteudos,#rodape,.rodape{box-sizing: border-box;overflow: visible;position: relative;z-index: 5;}
#topo {
	background: url(../img/topo.jpg) no-repeat center top #ffffff;
	max-width: 2000px;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 10;
}
.topo {
	float: none;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 2%;
	position: relative;
	width: 100%;
}
#logo {
	display: inline-block;
	margin: 37px 2% 46px 9px;
	max-width: 372px;
	position: relative;
	width: 100%;
	z-index: 300;
}
.logo {
	background: url(../img/logo.png) no-repeat left top;
	background-size: contain;
	display: block;
	height: 147px;
	max-width: 372px;
	text-indent: -9999px;
	width: 100%;
}
.login {
	float: right;
	margin-right: 2%;
	margin-top: 70px;
	max-width: 220px;
}
.login-titulo {
	color: #808080;
	font-family: 'Raleway', sans-serif;
	font-size: 2.1rem;
	font-weight: 400;
	padding-left: 25px;
	position: relative;
	text-align: center;
}
.login-titulo:before {
	background: url(../img/icone-restrito.svg) no-repeat left top;
	content: '';
	height: 25px;
	left: 8px;
	position: absolute;
	top: 0;
	width: 19px;
}
.login-titulo strong {
	font-size: 1.7rem;
	font-weight: 800;
	text-transform: uppercase;
}
#loginEmail,
#loginSenha {
	border: solid 1px #cbddeb;
	color: #808080;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight: 400;
	height: 22px;
	margin: 3px 0;
	padding: 2px;
	width: 100%;
}
#loginEmail:focus,
#loginSenha:focus {
	border: solid 1px #a7e2b4;
	outline: none;
}
#loginBt {
	background: #f0a03d;
	border: none;
	color: #ffffff;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5rem;
	font-weight: 700;
	height: 20px;
	line-height: 1.1rem;
	margin: 0 2px 12px auto;
	margin-top: 5px;
	width: 105px;
}
#loginBt:hover,
#loginBt:focus {
	background: #0067a1;
	outline: none;
}
.login-recuperar {
	color: #8c9695;
	display: inline-block;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 1.3rem;
	font-weight: 400;
	text-align: right;
}
main {
	background: #ffffff;
	float: none !important;
	overflow: visible;
	padding: 0 !important;
	position: relative;
}
.titulos-e-banners {
	background: #ffffff;
	float: none;
	max-width: 2000px;
	padding: 0;
	position: relative;
	width: 100%;
}
#titulos {
	background: #ffffff;
	border-bottom: solid 2px transparent;
	padding: 15px 0;
	position: relative;
	width: 100%;
	z-index: 9;
}
#titulos:after {
	background: #CEDAE2;
	bottom: -2px;
	height: 2px;
	left: 0;
	position: absolute;
	width: 100%;
}
.titulos {
	color: #f18b00;
	display: block;
	float: none;
	font-family: 'Raleway', sans-serif;
	font-size: 3rem;
	letter-spacing: -.1rem;
	line-height: 1rem;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 2%;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 9;
}
.titulos span,
.titulos h1,
.titulos h2,
.titulos h3,
.titulos h4,
.titulos h5,
.titulos h6 {
	display: inline-block;
	font-weight: 700;
	margin: 0;
	padding: 0;
	position: relative;
	vertical-align: middle;
	z-index: 20;
}
.titulos h1,
.titulos span {
	font-size: 3rem;
}
.titulos h2 {
	font-size: 2.5rem;
}
.titulos h3 {
	font-size: 2rem;
}
.titulos h4 {
	font-size: 1.8rem;
	font-weight: 400;
}
.titulos h5 {
	font-size: 1.5rem;
	font-weight: 400;
}
.titulos h6 {
	font-size: 1.2rem;
	font-weight: 400;
}
.corpo {
	background: #ffffff;
	display: block;
	float: none;
	margin: 0 auto;
	max-width: 2000px;
	overflow: hidden;
	padding: 15px 0;
	padding-top: 5px;
	position: relative;
	width: 100%;
	z-index: 1;
}
.conteudos {
	float: none;
	font-size: 1.6rem;
	letter-spacing: .05rem;
	line-height: 2.7rem;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 2%;
	padding-top: 10px;
	position: relative;
	width: 100%;
	z-index: 9;
}
.conteudos-nav {
	background: #ffffff;
	margin: 0 auto;
	max-width: 2000px;
	padding: 15px 0;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}
.conteudos-nav:before {
	background: #CEDAE2;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	top: -2px;
	width: 100%;
}
.conteudos-nav a {
	color: #f18b00;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.8rem;
	margin: 0 auto;
	max-width: 260px;
	padding: 0 2%;
	position: relative;
	text-align: center;
	text-shadow: 2.229px 2.007px 1px rgba(4, 4, 4, 0.129);
	width: 100%;
}
.conteudos-nav a:hover,
.conteudos-nav a:focus {
	text-decoration: none;
}
#rodape {
	background: #cdcdcd;
	color: #444041;
	float: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	margin: 0 auto;
	max-width: 2000px;
	padding: 0;
	position: relative;
	width: 100%;
}
#rodape a:hover {
	text-decoration: none;
}
.rodape {
	background: url(../img/rodape-logo-icone.png) no-repeat 85% top;
	float: none;
	margin: 0 auto;
	max-width: 1170px;
	min-height: 242px;
	overflow: auto;
	padding: 21px 2%;
	width: 100%;
}
.endereco {
}
.rodape-logo {
	background: url(../img/rodape-logo.png) no-repeat left top;
	background-size: contain;
	display: block;
	height: 145px;
	margin-bottom: 15px;
	max-width: 368px;
	text-indent: -9999px;
	width: 100%;
}
.endereco a {
	color: #444041;
}
.endereco a:hover,
.endereco a:focus {
	outline: none;
	text-decoration: none;
}
.endereco i {
	color: #0067a2;
	display: inline-block;
	font-size: 3rem;
	margin-bottom: 25px;
	margin-left: 5px;
	margin-right: 8px;
	vertical-align: middle;
}
.endereco span {
	display: inline-block;
}
.contatos {
	font-size: 1.8rem;
	margin-top: 115px;
}
.contatos i {
	color: #0067a2;
	display: inline-block;
	font-size: 2.5rem;
	margin-right: 5px;
	vertical-align: middle;
}
.telefone {
	color: #444041;
	display: inline-block;
	margin-right: 25px;
}
.telefone strong {
	display: inline-block;
	font-size: 2.5rem;
	font-weight: 500;
	vertical-align: middle;
}
.email {
	color: #444041;
	display: inline-block;
}
.gosites {
	display: inline-block;
	float: right;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-right: 4%;
	margin-top: 31px;
	max-width: 70px;
	width: 100%;
}
.subir {
	background: #ffffff;
	border-radius: 50%;
	bottom: 30px;
	color: #bbbbbb;
	display: block;
	height: 45px;
	max-width: 45px;
	position: fixed;
	right: 3%;
	width: 100%;
}
.subir:hover,
.subir:focus {
	color: #A7A7A7;
}
.subir:before {
	content: '\f139';
	font-size: 5rem;
	line-height: 4.7rem;
	right: 0;
}
/*
----------------------- CSS DE MEDIA QUERIES -----------------------
*/
@media screen and (max-width:1160px) {
.endereco span {
	width: 70%;
}
.endereco i {
	vertical-align: top;
}
}
@media screen and (max-width:1000px) {
.lateral { /* classe para conteudos com menu interno */
	max-width: 1000px;
	width: 100%;
}
}
@media screen and (max-width:992px) {
.rodape {
	background: url(../img/rodape-logo-icone.png) no-repeat 99% top;
	background-size: auto 100%;
}
.contatos {
	margin-top: 15px;
}
.gosites {
	float: left;
	margin-left: 2%;
}
}
/*
----------------------- CSS INFERIOR A 767px -----------------------
*/
@media screen and (max-width: 767px){
/* ANIMACAO DE TODOS OS ELEMENTOS */
*{text-rendering: geometricPrecision;-webkit-transition: all ease .7s;-moz-transition: all ease .7s;transition: all ease .7s;}

/* OCULTAR ELEMENTOS DE DESKTOP */
.desktop{display: none !important;visibility: hidden !important;}

/* CONTORNO DE LINKS EM MOBILE */
a:focus{outline: none;}.

/* EXIBIR ELEMENTOS DE MOBILE E EXIBIR EM BLOCO 100% */
mobile{display:block !important;float:none;visibility:visible !important;}
#topo,
.topo {
	margin-bottom: 0;
}
/* ESTRUTURA SECOES + ELEMENTOS */
.mobile-topo {
	background: #ffffff;
	box-shadow: rgba(221, 221, 221, 0.329412) 0px 1px 5px 0px;
	left: 0px;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 51;
}
#logo-mobile {
	float: left;
	height: 46px;
	margin-bottom: 22px;
	margin-left: 8px;
	margin-top: 8px;
	max-width: 240px;
	position: relative;
	text-align: left;
	width: 100%;
	z-index: 51;
}
.logo-mobile {
	max-width: 240px;
	position: relative;
	width: 100%;
	z-index: 52;
}
.titulos-e-banners {
	margin-top: 61px;
}
#titulos {
	left: 0;
	letter-spacing: -.1rem;
	margin-bottom: 0;
	margin-top: 76px;
	padding: 6px 2%;
	position: relative;
	top: 0;
	width: 100%;
}
.titulos {
	display: inline-block;
	line-height: 1rem;
	padding: 0;
}
.titulos h1,
.titulos span {
	font-size: 2.2rem;
}
.titulos h2 {
	font-size: 2rem;
}
.titulos h3 {
	font-size: 1.8rem;
}
.titulos h4 {
	font-size: 1.6rem;
}
.titulos h5 {
	font-size: 1.2rem;
}
.titulos h6 {
	font-size: 1rem;
}
.titulos span:before, .titulos h1:before, .titulos h2:before, .titulos h3:before, .titulos h4:before, .titulos h5:before, .titulos h6:before {
	bottom: -3px;
	height: 2px;
}
.titulos span:after, .titulos h1:after, .titulos h2:after, .titulos h3:after, .titulos h4:after, .titulos h5:after, .titulos h6:after {
	bottom: -8px;
	height: 2px;
}
.corpo {
	padding-top: 0;
}
.conteudos {
	font-size: 1.45rem;
	margin-top: 0;
	min-height: 20px;
	padding: 6px 2% 0px 2%;
}
.subir {
	bottom: 10px;
	opacity: .8;
	width: 45px;
	z-index: 1000;
}
}
@media screen and (max-width:490px) {
.endereco span {
	width: 70%;
}
}
@media screen and (max-width:430px) {
.rodape-logo {
	height: 105px;
}
}