/*
------------------- RESET DA MODELO -------------------
*/
#titulos,
.conteudos-nav {
	display: none !important;
	visibility: hidden !important;
}
.corpo,
.conteudos {
	margin: 0;
	max-width: 2000px;
	padding: 0;
}
/*
----------------------- BANNERS -----------------------
*/
#banners .owl-carousel {
	margin: 0 auto;
	max-width: 2000px;
	overflow: visible;
	position: relative;
	width: 100%;
	z-index: 9;
}
#banners .owl-dots {
	position: absolute;
	bottom: 0;
	z-index: 999;
	width: 100%;
	height: 25px;
	text-align: center;
}
#banners .owl-dot {
	background: #8da4b1;
	border-radius: 50%;
	display: inline-block;
	height: 12px;
	margin: 0 5px;
	width: 12px;
}
#banners .owl-dot.active {
	background: #0067a1;
}
/*
----------------- NOTICIAS --------------------
*/
.noticias {
	float: none;
	font-family: 'Roboto', sans-serif;
	margin: 0 auto;
	margin-top: 34px;
	max-width: 1170px;
	overflow: visible;
	padding: 0 2%;
	position: relative;
	width: 100%;
}
.noticias-cabecalho {
	border-bottom: solid 1px #33966a;
	display: block;
	margin-bottom: 37px;
	padding-bottom: 18px;
	position: relative;
	width: 100%;
}
.noticias-titulo {
	color: #273f65;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	margin: 0;
	padding: 0;
	padding-left: 50px;
	position: relative;
	text-transform: uppercase;
}
.noticias-titulo:before {
	background: url(../img/icone-noticias.svg) no-repeat left top;
	content: '';
	height: 33px;
	left: 0;
	position: absolute;
	top: -5px;
	width: 32px;
}
.noticias-link {
	color: #f58500;
	display: inline-block;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	text-transform: uppercase;
}
.noticias-link span {
	border: solid 1px #d2dee9;
	-webkit-border-radius: 4px 0 4px 0;
	-moz-border-radius: 4px 0 4px 0;
	border-radius: 4px 0 4px 0;
	color: #c9c9c9;
	display: inline-block;
	font-size: 4.9rem;
	height: 24px;
	line-height: 2.3rem;
	margin-left: 8px;
	text-align: center;
	vertical-align: top;
	width: 24px;
}
.noticias-link:hover,
.noticias-link:focus {
	opacity: .9;
	outline: none;
	text-decoration: none;
}
.noticia-destaque {
	color: #3f3e3e;
	position: relative;
	font-size: 1.3rem;
	font-weight: 500;
	line-height: 1.6rem;
	margin-right: 2%;
	max-width: 430px;
	width: 100%;
}
.noticia-destaque a {
	color: #3f3e3e;
}
.noticia-destaque img {
	border-bottom: solid 4px #f58500;
}
.noticia-destaque time {
	color: #a5a5a5;
	display: block;
	font-size: 1.5rem;
	font-weight: 900;
	line-height: normal;
	margin: 8px 0;
}
.noticia-destaque h2 {
	color: #1b1b1b;
	font-size: 1.6rem;
	font-weight: 500;
	line-height: normal;
	margin: 0;
	margin-bottom: 8px;
	padding: 0;
}
.noticia {
	border: solid 1px #dbdbdb;
	display: inline-block;
	margin-bottom: 25px;
	max-width: 595px;
	overflow: hidden;
	padding: 6px 10px;
	position: relative;
	width: 100%;
}
.noticia:after {
	background: url(../img/icone-noticia.svg) no-repeat left top;
	background-size: cover;
	bottom: 0;
	content: '';
	height: 63px;
	position: absolute;
	right: 0;
	width: 44px;
}
.noticia a {
	color: #f58500;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
	font-weight: 700;
	height: 100%;
	width: 100%;
}
.noticia img {
	display: inline-block;
	float: left;
	margin-right: 9px;
}
.noticia time {
	color: #a5a5a5;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2rem;
	font-weight: 900;
}
.noticia h2 {
	color: #1b1b1b;
	display: block;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
	font-weight: 500;
	margin: 0;
	padding: 0;
}
/*
--------------- BANNERS MEIO --------------
*/
.banners-meio-container {
	background: #f58500;
	float: none;
}
.banners-meio {
	display: flex;
	flex-wrap: wrap;
	float: none;
	justify-content: space-around;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 2%;
	width: 100%;
}
.banner2 {
	display: inline-block;
	margin: 63px 0;
	max-width: 460px;
	min-height: 200px;
	position: relative;
	width: 100%;
}
.banner2:hover,
.banner2:focus {
	opacity: .9;
}
/*
----------- ANIVERSARIANTES + FB -----------
*/
.aniversariantes-fb {
	float: none;
	margin: 35px auto;
	margin-top: 65px;
	max-width: 1170px;
	width: 100%;
}
/*
------------- ANIVERSARIANTES  -------------
*/
.aniversariantes {
	border: solid 1px #e8e8e8;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-right: 2%;
	max-width: 610px;
	padding: 38px 0;
	padding-top: 45px;
	position: relative;
	width: 100%;
}
.aniversariantes header {
	background: #ffffff;
	color: #334065;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	left: 0;
	margin: 0 auto;
	margin-left: 2%;
	padding: 0 8px;
	padding-left: 42px;
	position: absolute;
	text-transform: uppercase;
	top: -15px;
	width: 96%;
}
.aniversariantes header:before {
	background: url(../img/icone-aniversario.svg) no-repeat left top;
	content: '';
	height: 34px;
	left: 0;
	position: absolute;
	top: -4px;
	width: 33px;
}
.aniversariantes-link {
	color: #378d32;
	display: inline-block;
	float: right;
	font-family: 'Raleway', sans-serif;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2;
	text-transform: none;
}
.aniversariante {
	border: solid 1px #e8e8e8;
	color: #000000;
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-size: 1.6rem;
	margin: 27px 0;
	max-width: 262px;
	padding: 2px;
	padding-left: 55px;
	position: relative;
	width: 100%;
}
.aniversariante-data {
	background: #ffffff;
	color: #3cb173;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.5rem;
	height: 32px;
	left: -1px;
	line-height: 1.2rem;
	padding-top: 2px;
	position: absolute;
	text-align: center;
	top: 4px;
	width: 44px;
}
.aniversariante-data:before {
	color: #e8e8e8 !important;
	content: '\f133';
	font-family: 'FontAwesome';
	font-size: 5rem;
	left: 0;
	position: absolute;
	top: 0;
}
/*
----------------- FACEBOOK ------------------
*/
.fb {
	display: inline-block;
	max-width: 500px;
	position: relative;
	vertical-align: top;
	width: 100%;
}
.fb header {
	color: #c3c3c3;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	padding-left: 49px;
	position: relative;
	top: -14px;
	width: 100%;
}
.fb header:before {
	background: url(../img/icone-curtir.svg) no-repeat left top;
	content: '';
	height: 31px;
	left: 0;
	position: absolute;
	top: 0;
	width: 36px;
}
/*
----------------- CLUBES ------------------
*/
.clubes-container {
	background: url(../img/padrao-azul.jpg) no-repeat center top #f6f6f5;
	padding: 45px 0;
	position: relative;
}
.clubes {
	float: none;
	margin: 0 auto;
	max-width: 1170px;
	padding: 0 2%;
	width: 100%;
}
.clubes-cabecalho {
	color: #3f3f3f;
	font-family: 'Raleway', sans-serif;
	font-size: 2.5rem;
	font-weight: 900;
	margin-bottom: 35px;
	padding-left: 35px;
	position: relative;
	text-transform: uppercase;
}
.clubes-cabecalho:before {
	background: url(../img/icone-parceiros.svg) no-repeat left top;
	background-size: contain;
	content: '';
	height: 33px;
	left: 0;
	position: absolute;
	top: 0;
	width: 31px;
}
/*
---------------- MEDIA QUERIES ------------------
*/
@media screen and (max-width:1183px) {
.aniversariantes {
	margin-bottom: 25px;
	margin-right: 0;
	max-width: 1183px;
}
.fb {
	display: block;
	margin: 0 auto;
}
}
@media screen and (max-width:1106px) {
.noticia-destaque {
	border: solid 1px #eaeaea;
	margin-bottom: 25px;
	max-width: 1106px;
	overflow: visible;
	padding: 0;
}
.noticia-destaque img {
	float: left;
	margin-right: 8px;
}
.noticia {
	max-width: 1106px;
}
}
@media screen and (max-width:1005px) {
.banner2 {
	margin: 15px 0;
}
}
@media screen and (max-width:820px) {
.noticia-destaque img {
	float: none;
	margin-left: auto;
	margin-right: auto;
}
}
@media screen and (max-width:767px) {
#banners {
	margin-top: 75px;
}
}